<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Patient</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/patient/validate}" th:object="${patient}" method="post" class="form-horizontal" style="width:100">
            <label for="prenom"> </label>
            <input class="form-control my-3 bg-light" id="prenom" placeholder="Prenom" type="text" autofocus name="prenom"
                   th:field="*{prenom}">
            <span class="has-error" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
            <label for="nom"> </label>
            <input class="form-control my-3 bg-light" id="nom" placeholder="Nom" type="text" th:field="*{nom}">
            <span class="has-error" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
            <label for="dateNaissance"> </label>
            <input class="form-control my-3 bg-light" id="dateNaissance" placeholder="Date Naissance" type="date" th:field="*{dateNaissance}" th:value="${#dates.format(dateNaissance, 'yyyy-MM-dd')}">
            <span class="has-error" th:if="${#fields.hasErrors('dateNaissance')}" th:errors="*{dateNaissance}"></span>
            <label for="genre"> </label>
            <input class="form-control my-3 bg-light" id="genre" placeholder="Genre" type="text" th:field="*{genre}">
            <span class="has-error" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
            <label for="numeroTelephone"> </label>
            <input class="form-control my-3 bg-light" id="numeroTelephone" placeholder="Numero de Telephone" type="text" th:field="*{numeroTelephone}">
            <span class="has-error" th:if="${#fields.hasErrors('numeroTelephone')}" th:errors="*{numeroTelephone}"></span>
            <label for="adresse"> </label>
            <input class="form-control my-3 bg-light" id="adresse" placeholder="Adresse" type="text" th:field="*{adresse}">
            <span class="has-error" th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></span>
            <div class="row">
                <div class="col sm-12">
                    <a class="btn btn-danger btn-sm" href="/patient/list">Cancel</a>
                    <button class="btn btn-primary btn-sm" type="submit">Add Patient</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>