<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row"><h2>Patient List</h2></div>
    <div class="row">
        <a href="/patients/add" class="btn btn-primary btn-sm">Add new Patient</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Date of birthday</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>History</th>
                <th>Risk</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p:${patients}">
                <td th:text="${p.idPatient}"></td>
                <td th:text="${p.firstName}"></td>
                <td th:text="${p.surname}"></td>
                <td th:text="${p.dateOfBirthday}"></td>
                <td th:text="${p.gender}"></td>
                <td th:text="${p.phoneNumber}"></td>
                <td th:text="${p.address}">
                <td>
                    <a th:href="@{/patHistory/list/{patId}(patId=${p.idPatient})}" class="btn btn-primary btn-sm">Display</a>
                </td>
                <td>
                    <a th:href="@{/assess/risk/{idPatient}(idPatient=${p.idPatient})}" class="btn btn-primary btn-sm">Display</a>
                </td>
                <td>
                    <a th:href="@{/patients/update/{id}(id=${p.idPatient})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/patients/delete/{id}(id=${p.idPatient})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>