<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row"><h2>Patient History</h2></div>
    <div class="row">
        <h4 th:text="'Patient: ' + ${patHistory.firstName} + ' ' + ${patHistory.surname}"></h4>
    </div>
    <div class="row">
    <div class="row">
        <a th:href="@{/pathistory/add/{idPatient}(idPatient=${patHistory.idPatient})}" class="btn btn-primary btn-sm">Add new History</a>
        <a href="/patients/list" class="btn btn-secondary btn-sm">Back to Patient List</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>History</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ph:${patHistory.noteList}">
                <td th:text="${ph.note}"></td>
                <td th:text="${ph.date}"></td>
                <td>
                    <a th:href="@{/pathistory/update/{idPatient}/{id}(idPatient=${patHistory.idPatient}, id=${ph.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/pathistory/delete/{idPatient}/{id}(idPatient=${patHistory.idPatient}, id=${ph.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>